<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo!</h1>
  <p class="lead">Este é o Crypto Wallet para acompanhar suas moedas.</p>
  <hr class="my-4">
  <p>Selecione as opções abaixo</p>
  <%= render 'menu' %>
</div>
